.App {
  text-align: center;
}

.fill {
    width: 100%;
}

.loci {
  width: 10%;
}

.wavecont {
    position: relative;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.overlap {
  position: absolute;
  width: 30%;
  left: 15%;
  bottom: 15%;
}

.asize {
  width: 5%;
  position: absolute;
  right: 10%;
  bottom: 17%;
}

.round {
  width: 20%;
  height: auto;
  border-radius: 100%;
}

.bean {
  width: 50%;
}

.bbean {
  width: 100%;
}

.ss {
  width: 80%;
}
.x {
  width: 30%;
}

.bround {
  width: 50%;
  height: auto;
}

.tround {
  width: 30%;
  height: auto;
  border-radius: 100%;
  float: right;
}

.Map {
  width: 100%;
  height: 100vh;
}

@media (min-width: 768px) {
  .bround {
  width: 50%;
  height: auto;
  border-radius: 100%;
  }

  .ebround {
  width: 60%;
  height: auto;
  border-radius: 100%;
  }

  .tlround {
  width: 3%;
  height: auto;
  border-radius: 100%;
  float: left;
  }

  .tround {
  width: 30%;
  height: auto;
  border-radius: 100%;
  float: right;
  }
}

@media (max-width: 768px) {
.bround {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.ebround {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.tlround {
  width: 15%;
  height: auto;
  border-radius: 100%;
  float: left;
}

.tround {
  width: 60%;
  height: auto;
  border-radius: 100%;
  float: right;
}


}